@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Sawarabi+Gothic&display=swap');

:root {
    --primary: #D44D5C;
    --secondary: #F5E9E2;
    --accent: #E3B5A4;
    --neutral: #773344;
}

body {
    font-family: "Google Sans", Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    text-align: center;
}

.hero {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a6/Vista_PlazaVenezuela.jpg");
    box-shadow: inset 0 0 0 1000px #0B001430;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

h1 {
    margin: 0;
    font-size: 48px;
    background-color: var(--secondary);
    color: var(--primary);
    padding: 8px 16px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px var(--neutral);
}

.text {
    font-size: 24px;
    font-weight: bold;
    background-color: var(--primary);
    padding: 8px 16px;
    color: var(--secondary);
    border-radius: 10px;
    max-width: 700px;
    box-shadow: 0px 0px 50px var(--neutral);
}

.section-activities {
    background-color: var(--secondary);
    padding: 50px;
    color: var(--neutral);
}

.activities-title {
    margin-top: 0;
    margin-bottom: 40px;
}

.activities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

.activity {
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.act-img {
    width: 230px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
}

.act-desc {
    margin: 0;
}

.section-guide {
    background-color: var(--primary);
    padding: 50px;
}

.card {
    background-color: var(--accent);
    padding: 24px 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    width: 420px;
    margin: auto;
    border-radius: 12px;
    border-bottom: 8px solid var(--neutral);
    color: var(--neutral);
}

.card img {
    border-radius: 12px;
    width: 180px;
    height: 240px;
    object-fit: cover;
}

.card p {
    font-size: 18px;
}

.quote {
    font-style: italic;
}

.guide{
    font-weight: bold;
}